/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --main-title-color: #ffc2e6;
  --text-color: var(--accent-text-color);
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  background-color: #fff1f7;
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light :is(.header__theme-menu-list, .section__title) {
  color: var(--accent-text-color);
}

.theme-light .header__theme-menu-button_active,
.theme-light :is(.header, .footer)::before,
.theme-light :is(.header, .footer)::after {
  border-color: var(--accent-text-color);
}

.theme-light
  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border-color: var(--accent-text-color-transparent);
}

.theme-light
  .header__theme-menu-button:focus-visible:not(
    .header__theme-menu-button_active
  ) {
  border-block-end-color: var(--accent-text-color);
}

.theme-light .header__decorative {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --main-title-color: #ffc2e6;
    --text-color: var(--accent-text-color);
    --background-image: url(../images/cover-image-light.png);
  }

  .page {
    background-color: #fff1f7;
    /* Вам также нужно будет написать ряд подобных селекторов */
  }

  .header__theme-menu-list,
  .section__title {
    color: var(--accent-text-color);
  }

  .header__theme-menu-button_active,
  :is(.header, .footer)::before,
  :is(.header, .footer)::after {
    border-color: var(--accent-text-color);
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border-color: var(--accent-text-color-transparent);
  }

  .header__theme-menu-button:focus-visible:not(
      .header__theme-menu-button_active
    ) {
    border-block-end-color: var(--accent-text-color);
  }

  .header__decorative {
    display: none;
  }
}
